

.home {
    width: 100%;
    min-height: 100vh;
    background-color: #F7F8FD;
    padding-top: 120px;

    &-container {
        width: 100%;
        max-width: 1100px;
        margin: auto;
        min-height: inherit;
        display: flex;
        gap: 50px;

        aside {
            width: 100%;
            max-width: 280px;
            min-height: 500px;

            .company-name-section {
                width: 100%;
                height: 140px;
                border-radius: 10px;
                background-image: url('../../../public/starter-code/assets/suggestions/desktop/background-header.png');
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;
                display: flex;
                flex-direction: column;
                justify-content: center;
                padding: 20px;
                box-sizing: border-box;
                color: white;

                h1, p {
                    margin: 0;
                }

            }

            .features-section {
                width: 100%;
                min-height: 150px;
                background: white;
                border-radius: 10px;
                margin-top: 25px;
                padding: 10px 40px 30px 20px;
                box-sizing: border-box;

                ul {
                    display: grid;
                    grid-template-columns: repeat(3, 1fr);
                    gap: 10px;
                    padding: 0;

                    li {
                        list-style-type: none;
                        padding: 7px 10px;
                        background-color: #F2F4FF;
                        color: #4661E6;
                        border-radius: 10px;
                        font-size: .8em;
                        text-align: center;
                        font-weight: bold;
                        cursor: pointer;
                    }

                }

                .selected-feature {
                    background-color: #4661E6;
                    color: #fff;
                }


            }

            .roadmap {
                width: 100%;
                min-height: 150px;
                background: white;
                border-radius: 10px;
                margin-top: 25px;
                padding: 20px;
                box-sizing: border-box;

                .section-name {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    
                    h1 {
                        margin: 0;
                    }

                    a {
                        font-size: .9em;
                        color: #4661E6;
                        font-weight: bold;
                    }
                }

                .roadmap-categories {

                    ul {
                        padding: 0 10px;
                        
                        div {
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            
                        }
                        
                        li {
                            list-style-type: none;
                            // margin-bottom: 10px;
                        }

                        li::before {
                            content: "\2022";
                            // color: blue;
                            font-weight: bold;
                            display: inline-block; 
                            width: 1em;
                            font-size: 20px;
                            margin-left: -10px; 
                        }

                        span {
                            font-weight: bold;
                            color: #647196;
                        }

                    }

                    .planned {

                        li::before {
                            color: #F49F85 !important; 
                        }

                    }

                    .in-progress {

                        li::before {
                            color: #AD1FEA !important;
                        }

                    }
                    .live {

                        li::before {
                            color: #62BCFA !important;
                        }

                    }

                }

            }

        }

        .feedback-feed {
            width: 100%;
            max-width: 800;
            min-height: 700px;
            // border: 2px solid springgreen;

            nav {
                width: 100%;
                height: 80px;
                background-color: #3A4374;
                border-radius: 10px;
                margin-bottom: 50px;
                display: flex;
                justify-content: space-between;
                padding: 0 20px;
                box-sizing: border-box;

                .first-nav-section {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    color: white;

                    div:nth-child(2) {
                        // border: 2px solid red;
                        margin: 0 20px;
                    }
                }

                .add-feedback-btn {
                    // border: 2px solid white;
                    display: flex;
                    align-items: center;

                    a {
                        text-decoration: none;
                        color: white;
                        font-weight: bold;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        background-color: #AD1FEA;
                        padding: 15px;
                        border-radius: 10px;
                        font-size: .8em;

                        img {
                            width: 18px;
                            margin-right: 10px;
                        }
                    }
                }

                

            }

            .feed-section {
                width: 100%;
                min-height: 150px;
                background-color: #fff;
                border-radius: 10px;
                display: flex;
                justify-content: space-between;
                padding: 20px;
                box-sizing: border-box;

                .feed-first-section {
                    display: flex;
                    justify-content: space-around;
                    align-items: flex-start;
                    // border: 2px solid red;
                    padding: 20px 0;


                    .votes-count {
                        width: 40px;
                        height: 55px;
                        background-color: #F3F4FE;
                        display: flex;
                        flex-direction: column;
                        border-radius: 10px;
                        align-items: center;
                        justify-content: center;

                        img {
                            width: 30%;
                        }

                        span {
                            font-weight: bold;
                            margin-top: 5px;
                        }

                    }

                    .suggestion-details {
                        // border: 2px solid blue;
                        margin-left: 20px;

                        h1, p {
                            margin: 0;
                        }

                        h1 {
                            font-size: 1.1em;
                            color: #3A4374;
                        }

                        p {
                            color: #647196;
                            margin-top: 5px;
                            font-size: .9em;
                        }

                        ul {
                            padding: 0;
                        }

                        li {
                            list-style: none;
                            display: inline-block;
                            padding: 5px 20px;
                            border-radius: 10px;
                            font-weight: bold;
                            color: #4661E6;
                            background-color: #F2F4FF;
                            font-size: .8em;
                        }

                    }

                }

            }

        }

    }

}